/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
 display: block;
}
body {
 max-width:1400px;
 line-height: 1;
 margin:0 auto;
}
ol, ul {
 list-style: none;
}
blockquote, q {
 quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
 content: '';
 content: none;
}
table {
 border-collapse: collapse;
 border-spacing: 0;
}
/* this is where my css begins */
p {
    font-family:"roboto";
    font-size: 1rem;
}
h1{
    font-family: 'Chelsea Market';
    Font-size: 3.5rem;
    Margin-bottom: 4rem;
    
}
h4{
    font-family: 'Chelsea Market';
    font-size:1.5rem;
    Margin-bottom: 4rem;
}
p{
    font-size:1.5rem;
}
.headerp{
    font-size:1.5rem;
    width: 70%;
    margin:0 auto;
    margin-bottom:1rem;
}

.headerrm{
    border:2px solid purple;
    Margin-top:2%;
    margin-bottom: 2%;
    margin-left:20%;
    margin-right: 20%;
}
nav{
    border:2px solid turquoise;
}
#plan{
    display: inline-block;
    width:10%;
    Margin-left:10%;
    text-align: center;
    border-radius: 15px;
    color:white;
    padding:1rem;
    background-color: #FF764E;
}

#learn{
    display: inline-block;
    margin-right:18%;
    margin-left:18%;
    width:10%;
    text-align: center;
    border-radius: 15px;
    color:white;
    padding:1rem;
    background-color:#5ED3EB;
}

#involve{
    display: inline-block;
    text-align: center;
    border-radius: 15px;
    width:10%;
    color:white;
    padding:1rem;
    background-color: #FFCD69;
}

.top-section{
display:block;
width: 80%;
border: 2px solid blue;
margin:0 auto; 
}
.header-img{
    /* display:inline-block; */
    width: 50%;   
border: 2px solid green;
}
.headm{
    width: 30%;
    display:inline-block;
    border-radius:30rem;   
}
    
#header-wrds{
    display:inline-block;
    border: 2px solid red;
    text-align: center;
    width:60%;
     margin-left:2rem;
   height:100%;
    /* padding:1rem; */

}


.brownbox{
    color:white;
    background-color: #DDB9A3;
    margin-top: 5%;
    Margin-right:10%;
    margin-left:10%;
    padding: 1rem;
}

/* .header-img{ */
/* background-image:"assets/header_img.jp";
display:inline-block;
height: 1rem;
width: 2rem;
border-radius: 25%;
margin-top:3%;
margin-left: 75%;
border-radius: 25px;
} */

.fire{
   justify-content: center;
    width: 50%;}

.truck{
    justify-content: center;
    width: 50%;
}


.midsection{
margin-top:10%;
margin-right:35%;
margin-left:35%;
justify-content: center;
text-align:center;
border: 1px solid green;
}

.btmsection{
    margin-right:35%;
    margin-left:35%;
    text-align:center;
    justify-content: center;
    border: 1px solid indigo;
}
footer{
    width:100%;
    background-size: 100%;
    padding:3rem;
    border:blue
}
.footerrm{
    background-image: url("assets/footer_img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    width:100%;
    height:20rem;
    Margin-top:2%;
    margin-bottom: 2%;
    border: 1px solid brown;
